.container {
    max-width: 960px!important;
}
.bloc-liste{
    position: relative;
}
.logout{
    position: absolute;
    top: 15px;
    right: -50px;
}
.tab-recherche{
    width:50%; 
    margin:0 auto 20px auto;
}
.tab-recherche tr, .tab-recherche th{
    border: 0;
    padding: 0;
}
.tab-recherche th input{
    display: block;
    width: 100%;
    padding: 1px 10px;
}
.pagination {
    display: table;
    margin-left: 0;
    padding-left: 0;
    margin: 0 auto 20px auto;
}
.pagination .paginationTable{
    margin-left: -40px;
    display: block;
}
